{% extends "base.html" %}

{% block head_title %}
{{ super() }}: compra
{% endblock %}

{%  block page_title %}
  COMPRA DE CRIPTOS
{% endblock %}

{% block contenido %}
{{ super ()}}

{% if errores %}
  <div class="lista-errores">
    <p>
      <ion-icon name="warning-sharp" class="icono-error"></ion-icon>
    </p>
    <div class="mensajes-error">
      {% for error in errores %}
        <p>{{ error }}</p>
      {% endfor %}

      {{ form.errors }}
    </div>
  </div>
{% endif %}


<form class="paper" action="/purchase"  method="POST">
    {{formulario.csrf_token}}    
    {{ form.id }}

    <div class="campo-formulario">
        <label for="moneda_from">Moneda_from:</label>
        <input type="text" id="from" name="">
    </div>

    <div class="campo-formulario">
        <label for="cantidad_from">Cantidad_from:</label>
        <input type="number" id="cantidad_from" name="cantidad_from">
        <button class="green-button">calculadora</button>
    </div>

    <div class="campo-formulario">
        <label for="moneda_to">Moneda_to:</label>
        <input type="text" id="from" name="">
    </div>

    <div class="campo-formulario">
        <label for="cantidad_to">Cantidad_to:</label>
        <input type="number" id="cantidad_to" name="cantidad_to">
    </div>

    <div class="campo-formulario">
        <label for="precio_unitario">P.U.:</label>
        <input type="number" id="precio_unitario" name="precio_unitario">
    </div>
    
    
    <div class="acciones">
      {{ form.cancelar }}
      {{ form.guardar }}
    </div>

  </form>
{% endblock %}