{% extends "base.html" %}

{% block head_title %}
{{ super() }}: compra
{% endblock %}

{%  block page_title %}
  COMPRA DE CRIPTOS
{% endblock %}

{% block contenido %}
{{ super ()}}

{% if errores %}
  
  <div class="lista-errores">
    <p>
      <ion-icon name="warning-sharp" class="icono-error"></ion-icon>
    </p>
    <div class="mensajes-error">
      {% for error in errores %}
        <p>{{ error }}</p>
      {% endfor %}

    </div>
  </div>
{% endif %}


<form class="paper" action="/purchase"  method="POST">
    {{formulario.csrf_token}}   

    {{formulario.moneda_from.label}}
    {{formulario.moneda_from}}
    {{formulario.moneda_to.label}}
    {{formulario.moneda_to }}
<br>
    {{formulario.cantidad_from.label}}
    {{formulario.cantidad_from}}
    {{formulario.cantidad_to.label}}
    {{formulario.cantidad_to}}
    {{formulario.consultarapi}}
    {{numero}}
    <br>
    <p>P.U.: {{calculo}}</p>
   
<br>     
    <button type="reset" name="return" id="return"> Borrar </button>
    {{formulario.enviar}}


  </form>
{% endblock %}