{% extends "base.html" %}

{% block head_title %}
{{ super() }}: inicio
{% endblock %}

{% block page_title %}
  MOVIMIENTOS
{% endblock %}

{% block contenido %}
{{ super() }}
<table class="paper">
  <tr>
    <th class=" titulo-tabla">Fecha</th>
    <th class=" titulo-tabla">Hora</th>
    <th class=" titulo-tabla">Moneda_from</th>
    <th class=" titulo-tabla">Cantidad_from</th>
    <th class=" titulo-tabla">Moneda_to</th>
    <th class=" titulo-tabla">Cantidad_to</th>
    <th class=" titulo-tabla numero">PU</th>
  </tr>
  {% if movs %}
    {% for mov in movs %}
    <tr>
      
      <td>{{ mov.Fecha }}</td>
      <td>{{ mov.Hora }}</td>
      <td>{{ mov.Moneda_from }}</td>
      <td>{{ mov.Cantidad_from }}</td>
      <td>{{ mov.Moneda_to }}</td>
      <td>{{ mov.Cantidad_from }}</td>
      <td>{{ mov.PU }}</td>
      
    </tr>
    {% if mov.errores %}
    <tr>
      <td colspan="7" class="error">
        {% for error in mov.errores %}
        {{ error }}.
        {% endfor %}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="7" class="lista-vacia">SIN MOVIMIENTOS</td>
    </tr>
  {% endif %}
</table>

<a href="status">
  <button class="greem-button">Estados</button>
</a>

<a href="purchase">
  <button class="rounded-button">+</button>
</a>



{% endblock %}