body {
    background-color: white;
}

header {
    background-color: green;
    color: white;
    height: 75px;
    font-size: xx-large;
    line-height: 75px;
    padding-left: 35px;
}

nav {
    background-color: #265ab1;
    color: white;
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

table.paper {
    width: 100%;
}

.titulo-tabla {
    border-bottom: green 1px solid;
    text-align: left;
}

.numero {
    text-align: right;
}

.pie-de-pagina {
    margin-top: 40px;
    padding: 20px;
    border-top: solid 1px #265ab1;
    color: black;

}