body {
    background-color: white;
}

header {
    background-color: green;
    color: white;
    height: 75px;
    font-size: xx-large;
    line-height: 75px;
    padding-left: 35px;
}

nav {
    background-color: #265ab1;
    color: white;
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

nav.main_menu a {
    color: white;
}

table.paper {
    width: 100%;
}

.titulo-tabla {
    border-bottom: green 1px solid;
    text-align: left;
}

.numero {
    text-align: right;
}

table.paper .error {
    font-size: medium;
    padding-left: 40px;
    color: red;
}

.pie-de-pagina {
    margin-top: 40px;
    padding: 20px;
    border-top: solid 1px #265ab1;
    color: black;
}

.lista-vacia {
    text-align: center;
    padding: 50px;
    color: red;
    font-size: large;
 }
